# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
todo_api/react-frontend/node_modules
todo_api/react-frontend/.pnp
todo_api/react-frontend/.pnp.js

# testing
todo_api/react-frontend/coverage

# production
todo_api/react-frontend/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.env

todo_api/react-frontend/npm-debug.log*
todo_api/react-frontend/yarn-debug.log*
todo_api/react-frontend/yarn-error.log*
